div {
  text-align: center;
}
.main-box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.box {
  height: 10rem;
  width: 10rem;
  border-radius: 10px;
  background-color: black;
  margin: 1rem;
}
.red {
  background-color: brown;
}
.green {
  background-color: rgb(9, 87, 9);
}
.blue {
  background-color: rgb(15, 15, 121);
}
.black {
  background-color: rgb(38, 36, 36);
}
.gameflash {
  background-color: white;
}
.userflash {
  background-color: green;
}
